# Data Science Tools and Ecosystem

## Author
Paulo Areyuna

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 

* List popular languages for Data Science
* List popular libraries used in Data Science
* List some data science tools
* show basic examples of arithmetics

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib

| Data Science Tools  |
|:--------:|
|  RStudio  |
|  Spyder   |
|  VS code   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

print(200/60)

3.3333333333333335